ParProg-Heatmap-Pure-C/.DS_Store
ParProg-Heatmap-Pure-C/ParProg-Heatmap-Pure-C/__pycache__/validatelib.cpython-33.pyc

# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
